@model PrensaEstudiantil.Models.YoutubeVideo

@{
    ViewBag.Title = ("Editar " + @Html.DisplayFor(model => model.Name));
}

<div class="col-md-12" style="background-color:inherit">
    <div class="row col-md-12" style="text-align: center">
        <h1>Sistema de Gestión de Publicaciones</h1>
        <h4 class="green-color"><b>Editar Publicación</b></h4>
        <hr />
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.YoutubeVideoID)

            <div class="form-group">
                @Html.LabelFor(model => model.URL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div style="float: left">
                        @Html.EditorFor(model => model.URL, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div style="float: left; padding-top: 10px; padding-left: 15px;">
                        <span class='glyphicon glyphicon-search' title="Ayuda" id="help-modal"></span>
                    </div>
                    <br clear="all" />
                    @Html.ValidationMessageFor(model => model.URL, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", style = "width: 80%; min-width: 80%;" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10" style="text-align: center">
                    <a href="#" onClick="history.back();" class="btn btn-default"> Cancelar </a>
                    <input type="submit" value="Guardar" class="btn btn-success" style="margin-left: 50px" />
                </div>
            </div>
        </div>
    }

</div>

<div id="modal-help" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>Ayuda para obtener identificador URL del video</h4>
            </div>
            <div class="modal-body">
                Ubique la URL completa del video en <span style="font-weight: bold">Youtube</span> y de esta obtenga únicamente los 11 caracteres posteriores a "watch?v="
                <p>
                    Ejemplo:
                </p>
                <p>
                    <small>
                        1. https://www.youtube.com/watch?v=<span style="color: red; font-weight: bold">CNOeat9G3UA</span>
                        <br />
                        2. https://www.youtube.com/watch?v=<span style="color: red; font-weight: bold">CNOeat9G3UA</span>&list=PLN_zwO0dqfkwYhhlOua08gCzWoMP-tmZz
                    </small>
                </p>
                <p>
                    Para ambos casos el texto que deberá copiar será "<span style="color: red; font-weight: bold; text-decoration: underline">CNOeat9G3UA</span>"
                </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="close-modal-help">Entendido</a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#help-modal').click(function () {
                $("#modal-help").modal('show');
            });

            $('#close-modal-help').click(function () {
                $("#modal-help").modal('hide');
            });
        });
    </script>
}