@model IEnumerable<PrensaEstudiantil.Models.YoutubeVideo>

@{
    ViewBag.Title = "Index";
}

    <div class="col-md-12" style="background-color: inherit">
        <div class="row col-md-12" style="text-align: center">
            <h1>Sistema de Gestión de Publicaciones</h1>
            <h4 class="green-color"><b>Administrador de Videos</b></h4>
            <hr />
        </div>

        <div style="width: 100%">
            <div style="float: right;">
                @Html.ActionLink("Nuevo Video", "Create", null, new { @class = "btn btn-success" })
            </div>

            <p> <br clear="all" /> </p>
        </div>

        @if (ViewBag.VideosLength > 0)
        {
            <table class="table">
                <tr>
                    <th style="width: 30%">
                        Video
                    </th>

                    <th style="width: 55%">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <th style="width: 15%"></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <iframe src="https://www.youtube.com/embed/@Html.DisplayFor(modelItem => item.URL)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.YoutubeVideoID }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.YoutubeVideoID })
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="col-md-12" style="text-align:center">
                <p>
                    No hay videos publicados aún.
                </p>
            </div>
        }


    </div>
